.OneCard .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.OneCard .container img {
  width: 300px;
  margin-right: 30px;
  margin-bottom: 10px ;
}

.OneCard .set img {
  width: 20px;
}
