@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

:root {
  --main-bg-color1: white;
  --main-bg-color2: #f5f5f5;
  --main-yellow: (255, 203, 5);
  --main-blue: (61, 125, 202);
}

html {
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}
