.main-div {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    justify-content: space-around;
    
}

body {
    background-color: dodgerblue;
}

.template-button { 
    background-color: #e5e831;
    font-weight: bold;
    font-size: 50px;
    border: solid black 5px;
    border-radius: 15px;
    margin-top: 10px
}

.template-button:hover { 
    background-color: #e63e4f;
    margin-top: 15px;
    margin-left: 15px;
}