nav {
  background-color: var(--main-blue);
  color: var(--nav-text-main);
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  top: 0;
  margin-bottom: 1em;
}

nav a:hover,
nav .dropdown-content a:hover,
nav .dropdown-content p:hover {
  color: var(--main-yellow);
  background-color: var(--main-blue);
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list > li {
  padding: 0.5em 0.8em;
}

nav .username {
  font-weight: bold;
}

nav .dropdown {
  position: relative;
}

/* Dropdown content (hidden by default) */
nav .dropdown-content {
  display: none;
}

/* Show the dropdown menu on hover */
nav .dropdown:hover .dropdown-content {
  display: inline-block;
  background-color: var(--main-blue);
  min-width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  position: absolute;
  right: auto;
  left: 50%;
  top: 100%;
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  white-space: nowrap;
  text-align: center;
}

nav .nav-list.right li:last-child .dropdown .dropdown-content {
  left: auto;
  right: 100%;
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

/* Links inside the dropdown */
nav .dropdown-item {
  padding: 0.7em 0.7em;
  text-decoration: none;
  display: block;
  cursor: pointer;
  color: var(--nav-text-main);
}

nav img {
  height: 30px;
}
