/* .all-cards-container {
  background-color: var(--main-bg-color1);
  width: fit-content;
} */

.all-cards-container > h2 {
  margin-bottom: 0.5em;
  text-align: center;
  text-transform: uppercase;
}

.button.primary {
  background-color: var(--main-yellow);
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  padding: 0.5em 0.8em;
}

.button.primary:hover {
  background-color: var(--main-yellow-hover);
}

.list-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.all-cards-container .card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: fit-content;
  margin: 1em 1.5em;
}
