.all-cards-container > h2 {
  margin-bottom: 0.5em;
  text-align: center;
  text-transform: uppercase;
}

.button.primary {
  background-color: var(--main-yellow);
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  padding: 0.3em 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.list-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.all-cards-container .card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: fit-content;
  margin-right: 0;
  margin-left: 0;
}

.all-cards-container .card-container > * {
  margin: 0.3em auto;
}

.card-container {
  margin: 1em 2em;
}
